*{
    margin: 0;
    padding: 0;

}
.navbar{
    height: 85px;
    width: 100%;
    background-color: #2874f0;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    position:fixed;
    top: 0;
    
}
.space-div{
    height: 80px;
    width: 124px;
    /* border: 2px solid black; */
}
.nav-logo{
    height: 80px;
    width: 200px;
    /* border: 2px solid red; */
}
.logo{
    height: 60px;
    width: 190px;
    /* border: 2px solid green; */
    background-image: url("img/flipkart-logo.jpg");
    background-size: cover;
}
.p1{
    font-size: 1rem;
    width: 100px;
}
.p1 a{
    text-decoration: none;
}
.nav-search{
    height: 70px;
    width: 30%;

    /* border: 2px solid black; */
}
.search{
    height: 60px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
   font-size: 1.4rem;
   border: none;
}
.search i{
    font-size: 2rem;
    margin-right: 30px;
}
.login{
    height: 40px;
    width: 130px;
    background-color: white;
    border-radius: 5px;
}
.login p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    /* margin-top: 40px;
    margin-left: 20px; */
}
.login p a{
    text-decoration: none;
}
.seller h2 a{
    text-decoration: none;
    color: white;
}
.more h2 a{
  text-decoration: none;
  color: white;
}
.cart{
    display: flex;
    align-items: center;

}
.cart h2{
    color: white;
}
.box1{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
    /* border: 2px solid black; */
}
.box1-sub{
    height: 120px ;
    width: 10%;
    /* border: 2px solid black; */
}
.box{
    height: 100px;
    width: 100%;
    background-size: cover;
    /* border: 2px solid red; */
}
.box1-sub p a{
    text-align: center;
    text-decoration: none;
    color: blue;
    font-size: 25px;
}
.hero{
    height: 280px;
    width: 100%;
    background-image: url("img/hero.webp");
    background-size: cover;
    margin-top: 20px;
}
.boxoutout_outer{
    height: 450px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: yellow;
}
.boxout_outer{
    height: 420px;
    width: 100%;
    margin-top: 30px;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.box_outer{
height: 400px;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
background-size: cover;
/* border: 2px solid red; */
margin-top: 30px;

}
.box_inner{
    height: 390px;
    width: 15%;
    /* border: 2px solid black; */
}
.photo_outer{
    height: 400px;
    width: 20%;
    /* border: 2px solid blue; */
   
}
.photo_inner{
height:250px ;
/* border: 2px solid yellow; */
background-size: cover;
transition: 1s;
}
.photo_inner:hover{
    transform: scale(1.1);
}
.photo{
    height: 140px;
    /* border: 2px dotted green; */
}
.photo h2{
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
}
.photo p{
    text-align: center;
    font-weight: 900;
    margin-top: 20px;
}
.photo photo_p{
    margin-bottom: 20px;
}
.best h1{
    text-align: center;
    color: red;
    margin-top: 100px;
}
.view{
    height: 40px;
    width: 110px;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
}
.offers{
    height: 630px ;
    width: 100%;
    /* border: 2px solid black; */
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d7d7d7;
}
.offers1{
    height: 300px;
    width: 49%;
    background-size: cover;
    /* border: 2px solid red; */
}
.footer1{
    height: 1100px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 20px;
}
.footer2{
    height: 30px;
    width: 100%;
    /* border: 2px solid blue; */
}
.footer2 span{
    font-size: 25px;
}
.footer2 a{
    text-decoration: none;
}
.footer3{
    height:150px ;
    width: 100%;
    margin-top: 10px;
    line-height: 30px;
    /* border: 2px solid black; */
}
.footer3 span{
    font-size: 20px;
}
.footer3 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer4{
    height: 100px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer4 span{
    font-size: 20px;
}
.footer4 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer5{
    height: 130px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer5 span{
    font-size: 20px;
}
.footer5 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer6{
    height: 25px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer6 span{
    font-size: 20px;
}
.footer6 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer7{
    height: 25
    px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer7 span{
    font-size: 20px;
}
.footer7 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer8{
    height: 100px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer8 span{
    font-size: 20px;
}
.footer8 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer9{
    height: 150px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer9 span{
    font-size: 20px;
}
.footer9 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer10{
    height: 70px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer10 span{
    font-size: 20px;
}
.footer10 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer11{
    height: 100px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer11 span{
    font-size: 20px;
}
.footer11 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer12{
    height: 70px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer12 span{
    font-size: 20px;
}
.footer12 a{
    text-decoration: none;
    font-size: 20px;
    
}
.footer13{
    height: 70px;
    width: 100%;
    line-height: 30px;
    margin-top: 10px;
    /* border: 2px solid red; */
    text-align: left;
}
.footer13 span{
    font-size: 20px;
}
.footer13 a{
    text-decoration: none;
    font-size: 20px;
    
}
.contentarea{
    height: 2900px;
    width: 100%;
    /* border: 2px solid green; */
    margin-top: 35px;
}
.contentarea1{
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea1 h2{
    font-weight: bolder;
}
.contentarea1 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea2{
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea2 h2{
    font-weight: bolder;
}
.contentarea2 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea2 pre{
    text-align: left;
    font-family: arial;
    font-size: 14px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea3{
    height: 140px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea3 h2{
    font-weight: bolder;
}
.contentarea3 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea4{
    height: 140px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea4 h2{
    font-weight: bolder;
}
.contentarea4 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea5{
    height: 140px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea5 h2{
    font-weight: bolder;
}
.contentarea5 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea6{
    height: 250px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea6 h2{
    font-weight: bolder;
}
.contentarea6 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea7{
    height: 390px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea7 h2{
    font-weight: bolder;
}
.contentarea7 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea8{
    height: 210px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea8 h2{
    font-weight: bolder;
}
.contentarea8 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea9{
    height: 100px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea9 h2{
    font-weight: bolder;
}
.contentarea9 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea10{
    height: 200px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea10 h2{
    font-weight: bolder;
}
.contentarea10 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea11{
    height: 280px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea11 h2{
    font-weight: bolder;
}
.contentarea11 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea12{
    height: 110px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea12 h2{
    font-weight: bolder;
}
.contentarea12 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea13{
    height: 150px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea13 h2{
    font-weight: bolder;
}
.contentarea13 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
.contentarea14{
    height: 150px;
    width: 100%;
    /* border: 2px solid black; */
    
}
.contentarea14 h2{
    font-weight: bolder;
}
.contentarea14 p{
    font-size: 17px;
    color: rgb(75, 69, 69);
    line-height: 25px;
}
footer{
    height: 450px;
    width: 100%;
    border:2px solid green;
   
}
.foot-panel1{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}
ul a{
    display: block;
    color: white;
    text-decoration: none;
    line-height: 1.2rem;
    margin-top: 15px;
}
ul p{
    color:red;
}
.foot-panel2{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1px;
    background-color:#222f3d ;
}
.foot-panel2 a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}